

   
        <InputSelect   class="test-item__container_selection_ss1 bg-color-6 color-2" style="outline: none;" @bind-Value="ViewModelPersist.SelectedCategory">
            <option value="">--select-category</option>

            @foreach (string value in ViewModelPersist.Categories)
            {

                <option>@value</option>
            }
        </InputSelect>
    
   
   
        <InputSelect  class="ss2 bg-color-6 color-2" style="outline: none;" @bind-Value="ViewModelPersist.SelectedSubjecte" >

            <option value="">--select-subject</option>
            @foreach (string value in ViewModelPersist.Subjectes)
            {

                <option>@value</option>
            }
        </InputSelect>
   
    
        <InputSelect class="test-item__container_selection_ss3 bg-color-6 color-2" style="outline: none;"  @bind-Value="ViewModelPersist.SelectedChapter">
            <option value="">--select-chapter</option>
            @foreach (string value in ViewModelPersist.Chapteres)
            {

                <option>@value</option>
            }
        </InputSelect>

    
        
        <button class="ss4 bg-color-6 color-2" @onclick="@(() => OnLoadCommand.InvokeAsync())">@ButtonTitle</button>
    
@code{
    [Parameter] public bool ClearSelection { get; set; }
    string selectDefault = "";

}
      